@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500&display=swap');

@import '@splidejs/react-splide/css';

@import '@splidejs/react-splide/css/skyblue';
@import '@splidejs/react-splide/css/sea-green';


@import '@splidejs/react-splide/css/core';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.splide {
  padding: 0;
}

.splide__slide {
  margin: 0;
  width: 75%;
}

:root {
  --red: '#FC4747';
  --dark: '#10141E';
  --purple: '#5A698F';
  --lightDark: '#161D2F';
  --white: '#ffffff';
}

body {
  font-family: 'Outfit';
}



@media screen and (min-width: 768px) {
  .splide__track {
    width: 720px;
    margin: auto;
  }

  .splide__list {
    gap: 140px;
  }
}

@media screen and (min-width: 1350px) {
  .splide__track {
    width: 1100px;
  }

  .splide {
    width: 1100px;
    margin: auto;
  }
}